* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#mainBody {
  overflow: auto;
  min-height: 90vh;
}

body {
  background: #eae9f6;
}

.borders {
  border: 2px red solid;
}

.borders2 {
  border: 2px blue solid;
}

nav {
  background: #fff;
  border-bottom: 5px navy solid;
  max-height: 5vh;
  color: #252525;
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
nav ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

a {
  color: #252525;
  cursor: pointer;
  margin-right: 1em !important;
}

a:hover {
  color: #000;
  font-weight: bold;
}

.logo {
  max-height: 75px;
}

.content {
  margin: 4em auto;
  padding: 1em;
  position: relative;
  height: 50vh;
  flex: 1 0 auto;
}

.overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./Components/Images/cover.jpg);
  background-size: cover;
  text-align: center;
}
.content .title {
  color: #fff;
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  opacity: 100%;
}
.content img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.4); /* R D Blur */
  margin-bottom: 16px;
  max-width: 500px;
  max-height: 500px;
}

.content .form-control,
.content input {
  border-radius: 0;
}
.content .btn {
  border: 1px solid #020847;
  background: #020847;
  border-radius: 20px;
  color: #fff;
  margin-top: 20px;
  padding: 20px 40px;
  font-weight: bolder;
  font-size: 1em;
}
.content .btn:hover {
  border: 1px solid #162085;
  background: #162085;
}

.description {
  color: #fff;
  margin: 15%;
  font-weight: bolder;
}

.footer {
  background: #fff;
  border-top: 5px navy solid;
  height: 5vh;
  color: #252525;
  text-align: center;
  position: relative;
  width: 100%;
}

.clearfix {
  padding: 0;
  margin: 0;
}

.content-grid {
  max-width: 85%;
  display: flex;
  justify-content: space-evenly;
  margin: 50px auto;
}

.feature-grid-1 {
  width: 100%;
}

.feature-grid-2 {
  width: 45%;
}

.feature-grid-3 {
  width: 30%;
}

.center {
  vertical-align: center;
}

[class^='icon'] {
  width: 25px;
  height: 25px;
  position: relative;
  top: 7px;
  margin-right: 3px;
  border-radius: 20px;
}

[class^='feature-grid'].about img {
  width: 75%;
  max-width: 400px;
}

#name {
  padding-left: 15px;
}
